/*config*/
/*base*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'MuseoSansCyrl-300', sans-serif;
  font-weight: 700;
  border-top: 4px solid #58647a;
  border-bottom: 18px solid #58647a;
}

div, ul, li, p, form,
button, b, a, input,
textarea, img, section, header {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  height: 39px;
  text-decoration: none;
  background: #1cb883;
  border-bottom: 4px solid #149d6f;
  line-height: 35px;
  font-size: 13px;
  width: 156px;
  color: white;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.button:active {
  border-bottom: none;
  height: 35px;
}

/*Sections*/
.header {
  background: url("../img/bg/bg-header.jpg") no-repeat center top;
}

.heading {
  background: rgba(191, 194, 200, 0.41);
  border-bottom: 4px solid rgba(220, 222, 227, 0.41);
  padding-top: 17px;
  padding-bottom: 7px;
}

.logo-link {
  width: 291px;
}

.logo {
  width: 291px;
}

.menu {
  margin-top: 20px;
}

.menu__item {
  margin-right: 33px;
}

.menu__item:list-child {
  margin-right: 0px;
}

.menu__link {
  color: #3f4b60;
  font-size: 17px;
}

.menu__link:hover {
  text-decoration: none;
  color: #3f4b60;
}

.coll {
  margin-top: 12px;
}

.coll:active {
  margin-top: 16px;
}

.ph {
  color: #46e6b0;
  font-size: 16px;
  display: block;
  margin-top: 9px;
  margin-left: 14px;
  margin-right: 11px;
}

.ph-text {
  display: block;
}

.greeting {
  padding-bottom: 134px;
  border-bottom: 16px solid rgba(255, 255, 255, 0.16);
}

.main-title {
  margin-top: 90px;
  width: 500px;
}

.main-title__title {
  font-size: 58px;
  font-weight: 700;
  margin: 0;
}

.main-title__text {
  font-size: 29px;
  color: #081d42;
  font-family: 'MuseoSansCyrl-100', sans-serif;
  margin-top: 10px;
  padding-left: 2px;
  line-height: 1.3em;
}

.socials {
  margin-top: 15px;
  background: rgba(255, 255, 255, 0.55);
  width: 166px;
  height: 46px;
  border-radius: 5px;
  margin-left: 5px;
  -webkit-box-shadow: 0 0 15px white;
  box-shadow: 0 0 15px white;
  padding: 8px 18px;
}

.social_icon, .fa-facebook, .fa-twitter, .fa-telegram {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 28px;
}

.fa-facebook {
  border: 2px solid #2b5e9f;
  color: #2b5e9f;
}

.fa-twitter {
  border: 2px solid #43c9fd;
  color: #43c9fd;
}

.fa-telegram {
  border: 2px solid #34a9d7;
  color: #34a9d7;
}

.deserved {
  background: #f1f1f3;
  padding-top: 55px;
  padding-bottom: 90px;
  position: relative;
}

.deserved__title {
  font-size: 29.17px;
  font-weight: 700;
  text-align: center;
}

.features {
  margin-top: 38px;
  text-align: center;
}

.features__item {
  width: 370px;
}

.features__img {
  margin: 0 auto;
}

.features__title {
  font-size: 21px;
  font-weight: 700;
  margin-top: 15px;
}

.features__text {
  color: #626268;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 0;
}

.more-info {
  text-decoration: none;
  position: absolute;
  background: #1cb883;
  border-bottom: 4px solid #149d6f;
  color: white;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  width: 173px;
  margin-top: -10px;
  bottom: -24px;
  margin-left: -86.5px;
  left: 50%;
  z-index: 1;
}

.more-info:hover {
  color: white;
  text-decoration: none;
}

.more-info:active {
  border-bottom: none;
  height: 45px;
  margin-top: -6px;
}

.additionally {
  position: relative;
  padding-top: 99px;
  padding-bottom: 60px;
}

.additionally_list {
  text-align: center;
}

.additionally__item {
  width: 355px;
}

.additionally__img {
  margin: 0 auto;
}

.additionally__title {
  font-family: 'MuseoSansCyrl-100', sans-serif;
  font-size: 24px;
  margin-top: 4px;
}

.additionally__title span {
  color: #b81c31;
}

.additionally__text {
  color: #404048;
  font-size: 14px;
  font-weight: 300;
  margin-top: 12px;
}

.mission {
  background: url("../img/bg/bg2.jpg") no-repeat center top/cover;
  padding-top: 40px;
  padding-bottom: 38px;
}

.mission__title, .news__title {
  color: rgba(255, 255, 255, 0.4);
  font-weight: 700;
  font-size: 23px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.1);
  padding-bottom: 11px;
  width: 616px;
}

.content {
  margin-top: 20px;
}

.mission__info-left {
  width: 470px;
}

.mission__info-right {
  width: 370px;
}

.mission__text {
  font-size: 15px;
  line-height: 1.3em;
  color: rgba(255, 255, 255, 0.67);
}

.mission__more {
  font-weight: 700;
  font-size: 15.83px;
  color: rgba(255, 255, 255, 0.72);
  border: 2px solid rgba(255, 255, 255, 0.69);
  width: 173px;
  height: 44px;
  text-align: center;
  line-height: 40px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-top: 25px;
}

.mission__more:hover {
  color: rgba(255, 255, 255, 0.72);
  text-decoration: none;
  background: #707c94;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.news__title {
  width: 100%;
}

.news__list {
  margin-top: 23px;
}

.news__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-top: 20px;
}

.news__img {
  width: 56px;
  height: 55px;
  margin-bottom: 23px;
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}

.news__link:hover {
  text-decoration: none;
}

.news__text {
  font-weight: 700;
  font-size: 12.5px;
  color: rgba(255, 255, 255, 0.75);
  margin-left: 13px;
  width: 175px;
  margin-top: -3px;
  line-height: 1.3em;
  margin-bottom: 7px;
}

.news__data {
  font-size: 10.42px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.43);
  text-align: right;
  margin-bottom: 0;
}

.references {
  background-color: #3a4456;
  display: block;
  padding-top: 13px;
  padding-bottom: 35px;
}

.references__list {
  margin-top: 27px;
}

.referenses__item {
  width: 370px;
}

.references__section {
  margin-bottom: 14px;
}

.references__link {
  display: inline-block;
  font-weight: 700;
  font-size: 19px;
  color: rgba(255, 255, 255, 0.66);
}

.references__link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.66);
}

.links__link {
  display: inline-block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.46);
}

.links__link:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.46);
}

.footer {
  background: #1f2531;
  padding-bottom: 43px;
  color: rgba(255, 255, 255, 0.52);
  font-weight: 100;
}

.footer__img {
  height: 137px;
}

.footer__logo {
  height: 49px;
  margin-top: 43px;
  margin-left: 17px;
}

.footer__text {
  width: 200px;
  font-size: 12px;
  margin-top: 37px;
  line-height: 1.12em;
}

.footer__cooperate {
  margin-bottom: 12px;
}

.author {
  margin-top: 40px;
}

.author__sign {
  text-align: center;
  line-height: 24px;
  width: 25px;
  height: 25px;
  border: 1px solid rgba(255, 255, 255, 0.63);
}

.author__wrap {
  margin-top: -3px;
  margin-left: 7px;
}

.author__design {
  font-size: 10.42px;
  margin-bottom: 0;
}

.author__name {
  font-size: 12.08px;
  margin-top: -2px;
  margin-bottom: 16px;
}

.footer__protected {
  font-size: 12.08px;
  margin-bottom: 0;
}

.footer__company {
  font-size: 12.08px;
  font-weight: 700;
  margin-top: -3px;
  margin-bottom: 0;
}

.footer__link {
  margin-top: -1px;
  text-decoration: underline;
  font-size: 12.08px;
  color: rgba(255, 255, 255, 0.52);
}

.footer__link:hover {
  color: rgba(255, 255, 255, 0.52);
}

.footer__button {
  margin-top: 68px;
}

.footer__button:active {
  margin-top: 72px;
}

.socials-line {
  background: rgba(241, 241, 243, 0.65);
  padding-top: 5px;
  padding-bottom: 6px;
  padding-right: 14px;
}

.socials-line__icons {
  width: 130px;
  height: 46px;
  padding-top: 6px;
  margin-left: 5px;
}

.socials-line__triangle {
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-left: 9px solid #d0d4da;
  border-bottom: 9px solid transparent;
  margin-left: 27px;
  margin-top: 12px;
  margin-right: 12px;
}

.socials-line__text {
  margin: 0;
  font-size: 12.5px;
  font-weight: 100;
  color: rgba(8, 29, 66, 0.49);
  line-height: 1.2em;
  width: 280px;
  margin-top: 6px;
}

.search {
  width: 166px;
  position: relative;
}

.search__input {
  width: 166px;
  height: 41px;
  border: 3px solid #eeeeef;
  border-radius: 2px;
  font-family: MuseoSansCyrl-100;
  font-size: 13.75px;
  padding: 0 25px 0 21px;
}

.search__btn {
  background: none;
  border: none;
  color: rgba(138, 138, 138, 0.6);
  position: absolute;
  cursor: pointer;
  top: 11px;
  right: 11px;
}

.bor-bot {
  border-bottom: 4px solid #f1f1f3;
}

.nav-line {
  background: #fafafb;
  color: #081d42;
  padding-top: 32px;
  padding-bottom: 40px;
}

.nav-line__title {
  font-size: 37.5px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

.nav_line__link {
  font-size: 15.62px;
  color: #49556b;
  text-decoration: underline;
  display: inline;
}

.nav_line__link:hover {
  color: #49556b;
}

.nav-line__where {
  display: inline;
  font-size: 15.62px;
  color: #7e838d;
}

.nav-about {
  margin-top: 17px;
}

.nav-about__link {
  font-size: 15.83px;
  font-weight: 700;
  color: #a1a6af;
  padding: 0 15px;
  height: 46px;
  border: 2px solid #fafafb;
  line-height: 42px;
}

.nav-about__link:hover {
  text-decoration: none;
  color: #b81c31;
  border: 2px solid #b81c31;
  border-radius: 2px;
}

.excellence {
  padding-top: 53px;
  margin-bottom: 71px;
}

.excellence__title {
  font-weight: 700;
  font-size: 29.17px;
  margin: 0;
  margin-bottom: 35px;
}

.excellence__text {
  font-size: 15px;
  color: #404048;
  line-height: 1.3em;
  font-weight: 300;
}

.pluses {
  border-top: 1px solid #e5e6e8;
  border-bottom: 1px solid #e5e6e8;
  margin: 0;
}

.pluses__item {
  height: 157px;
  border-top: 1px solid #e5e6e8;
  border-bottom: 1px solid #e5e6e8;
}

.pluses__img {
  width: 60px;
  height: 60px;
}

.pluses__wrap {
  margin-left: 37px;
  padding-top: 10px;
}

.pluses__title {
  font-size: 18.33px;
  color: #081d42;
  font-weight: 700;
  margin: 0;
}

.pluses__text {
  font-size: 14px;
  color: #65656a;
  font-weight: 300;
  margin: 0;
  line-height: 1.2em;
  margin-top: 15px;
}

.photo {
  margin-top: 50px;
}

.photo__title {
  font-size: 29.17px;
  font-weight: 700;
}

.photo__list {
  margin-top: 35px;
  margin-bottom: 0;
}

.photo__item {
  position: relative;
}

.photo__item:hover .photo__enlarge {
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo__enlarge {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 68, 86, 0.69);
  border: 7px solid #9a97a7;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.photo__pointers {
  margin: auto;
}
